Misc/customer_auto-tagging.json
{
  "name": "Customer Auto-tagging",
  "nodes": [
    {
      "parameters": {
        "content": "Automated workflow: Customer Auto-tagging",
        "height": 530,
        "width": 1100,
        "color": 5
      },
      "id": "9f1c238b-8782-4c9d-8f31-70ea9793ffa1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-auto-tagging"
      },
      "id": "85f21561-f8cf-4292-96c6-5b73484e95bd",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "2c222980-aa73-4e0b-9a39-b9b15835cfcb",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "embed-english-v3.0",
        "options": {}
      },
      "id": "040314a3-fbfa-453d-9162-c149ea7ebd25",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {
        "cohereApi": {
          "id": "COHERE_API",
          "name": "Cohere"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "pineconeIndex": {
          "__rl": true,
          "value": "customer_auto-tagging",
          "mode": "list",
          "cachedResultName": "customer_auto-tagging"
        }
      },
      "id": "cc35e2b3-4495-4dcc-ae87-35e39a99fbdf",
      "name": "Pinecone Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_API",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "customer_auto-tagging",
          "mode": "list",
          "cachedResultName": "customer_auto-tagging"
        }
      },
      "id": "95966bc7-b3d8-4f9c-9af2-baf9ccfd4254",
      "name": "Pinecone Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {
        "pineconeApi": {
          "id": "PINECONE_API",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "name": "Pinecone",
        "description": "Vector context"
      },
      "id": "fbff62ae-f2ff-441d-927f-5b35a26b4e3f",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "1ccb9845-18a2-43a9-be19-520384e40b13",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c4667e9a-c357-4d63-94a5-aee983169921",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Process the following data for task 'Customer Auto-tagging':\n\n{{ $json }}",
        "options": {
          "systemMessage": "You are an assistant for Customer Auto-tagging"
        }
      },
      "id": "9d38d1cc-9ae6-459d-ab4a-63e57afac794",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "Customer Auto-tagging"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{$json[\"RAG Agent\"].text}}"
          },
          "schema": []
        }
      },
      "id": "86e15f12-c9a3-4177-bb69-9dfb9d81c651",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        930,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "Customer Auto-tagging error: {$json.error.message}"
      },
      "id": "95afe2a2-f3f2-4879-b4f1-533c35e6ac0d",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        930,
        120
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_API",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert": {
      "ai_document": [
        []
      ]
    },
    "Pinecone Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1
}