IoT/vehicle_telematics_analyzer.json
{
  "name": "Vehicle Telematics Analyzer",
  "nodes": [
    {
      "parameters": {
        "content": "## Vehicle Telematics Analyzer",
        "height": 520,
        "width": 1100
      },
      "id": "3a428bea-5b5d-418d-aea3-6702e195eaff",
      "name": "Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vehicle_telematics_analyzer"
      },
      "id": "cc171ef1-366e-450c-b8c0-1f4be0cc100c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "236b9d8a-fd92-4525-b6e3-89eceaee9826",
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "model": "default"
      },
      "id": "49a5217e-b9dd-4c9d-a05e-e117cbc2f4a3",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "indexName": "vehicle_telematics_analyzer"
      },
      "id": "af19e123-7ee5-4628-88da-affa9ea417c9",
      "name": "Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "vehicle_telematics_analyzer"
      },
      "id": "d8b469f0-7927-4406-a3d7-c2695db16244",
      "name": "Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "Redis"
      },
      "id": "22c4c0d5-c147-4c3d-82db-7d48d8238bb1",
      "name": "Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "5cd9b107-b5dc-4429-8fed-ef0dbeecd22d",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "17e82f20-81ce-4a16-826f-3021958e3c5b",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatHf",
      "typeVersion": 1,
      "position": [
        480,
        -340
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "HF_API",
          "name": "HuggingFace"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}"
      },
      "id": "b2493e79-03b0-446b-a21d-f6e80acfe401",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        760,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SHEET_ID",
        "sheetName": "Log"
      },
      "id": "b0e6955f-7d88-44f3-adae-41b5920328f0",
      "name": "Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "ai_document": [
        []
      ]
    },
    "Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}