n8n/breaking_news_summarizer.json
{
  "name": "Breaking News Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "## Breaking News Summarizer",
        "height": 520,
        "width": 1100
      },
      "id": "1c60dfda-ff6c-431b-8200-9b6c34adc1d9",
      "name": "Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "breaking_news_summarizer"
      },
      "id": "ae2530ec-60d3-41b3-a0a2-7a18071f6330",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "89dee8a0-3133-4c1b-a4b9-aa2fc194949b",
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "model": "default"
      },
      "id": "29f16a9a-1f38-4713-ba9c-215f8259cd88",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFace",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "HF_API",
          "name": "HuggingFace"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "indexName": "breaking_news_summarizer"
      },
      "id": "45eefa2e-cd65-44a2-8597-1090e59b131e",
      "name": "Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "weaviateApi": {
          "id": "WEAVIATE_API",
          "name": "Weaviate account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "breaking_news_summarizer"
      },
      "id": "6e5733ea-2827-4e32-a683-c61ef69fea40",
      "name": "Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreWeaviate",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "credentials": {
        "weaviateApi": {
          "id": "WEAVIATE_API",
          "name": "Weaviate account"
        }
      }
    },
    {
      "parameters": {
        "name": "Weaviate"
      },
      "id": "34c6f9f4-68a8-4d58-a5f3-bd8fc98456f2",
      "name": "Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "a2f1be61-44ce-4729-bcae-1e436fec6495",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "1be3574f-87ea-43ad-8a1a-742bbabbf2fc",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        -340
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}"
      },
      "id": "ab963c4f-2d8b-4f66-a7e3-3f9d4ec07612",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        760,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SHEET_ID",
        "sheetName": "Log"
      },
      "id": "728c2329-b3fc-4864-a4d5-e46a04502dcd",
      "name": "Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "ai_document": [
        []
      ]
    },
    "Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}