n8n/quality_defect_classifier.json
{
  "name": "Quality Defect Classifier",
  "nodes": [
    {
      "parameters": {
        "content": "## Quality Defect Classifier",
        "height": 520,
        "width": 1100
      },
      "id": "4a9d63c7-08b0-4bd7-86c7-118becc5c9b2",
      "name": "Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quality_defect_classifier"
      },
      "id": "53bb395f-3072-435f-b051-f691b4954435",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "91f92b79-07e8-41cf-9d1a-92115031674d",
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "model": "default"
      },
      "id": "44867b78-b164-4010-8732-f6dc7d391d87",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "indexName": "quality_defect_classifier"
      },
      "id": "5b3fc67b-c039-4bc6-b2f0-4bd0c58602dc",
      "name": "Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "quality_defect_classifier"
      },
      "id": "e607b51e-a06b-4614-8714-0ba803cd2031",
      "name": "Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "Redis"
      },
      "id": "67f74799-bb90-492f-b04b-defa516e02cd",
      "name": "Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "39f3db21-6d42-4cce-b2a4-203fbecbe5d8",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "18899540-a96f-4e03-a08e-ecd68c4215d4",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        480,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}"
      },
      "id": "f36eea46-81b9-402a-8936-e80d6638c7a2",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        760,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SHEET_ID",
        "sheetName": "Log"
      },
      "id": "8ca4e3aa-29a6-4a1e-89d4-d627007a3a85",
      "name": "Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "ai_document": [
        []
      ]
    },
    "Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}