Real_Estate/neighborhood_safety_insights.json
{
  "name": "Neighborhood Safety Insights",
  "nodes": [
    {
      "parameters": {
        "content": "## Neighborhood Safety Insights",
        "height": 520,
        "width": 1100
      },
      "id": "6d429e9f-4cf4-413c-992a-934cb55c8e16",
      "name": "Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "neighborhood_safety_insights"
      },
      "id": "8ef7fb3d-575d-4892-8afc-54c302c80b3d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "5b0b3f59-3490-48b0-bfe2-8327f49e9916",
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "model": "default"
      },
      "id": "bc814284-3660-429f-afc4-32ce5c43cb7d",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFace",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "HF_API",
          "name": "HuggingFace"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "indexName": "neighborhood_safety_insights"
      },
      "id": "fa876356-58fc-4c4d-9eaf-d375d986a76d",
      "name": "Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "neighborhood_safety_insights"
      },
      "id": "1fe7c854-514d-4365-9f40-5d5e443a9fec",
      "name": "Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "credentials": {
        "redisApi": {
          "id": "REDIS_API",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "Redis"
      },
      "id": "2a2a28cf-9d1b-40b6-ab5f-24a1ff1b27b6",
      "name": "Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "0c114c70-0c3d-4f76-b177-948a72857f4a",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "2ed19d0b-5981-4187-ae4a-db60bba6b82a",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        480,
        -340
      ],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_API",
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}"
      },
      "id": "fd4845a4-e13e-4ca4-af76-ec8b63b63502",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        760,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SHEET_ID",
        "sheetName": "Log"
      },
      "id": "9dbfe97d-d0d7-4bb0-a9bc-8cc20d6becb2",
      "name": "Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "ai_document": [
        []
      ]
    },
    "Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}