Real_Estate/open_house_reminder.json
{
  "name": "Open House Reminder",
  "nodes": [
    {
      "parameters": {
        "content": "## Open House Reminder",
        "height": 520,
        "width": 1100
      },
      "id": "f924cb54-ba11-4cb7-8f29-71b0baca8062",
      "name": "Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -500,
        -250
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "open_house_reminder"
      },
      "id": "4f2c3ae0-9c02-4921-9127-b8be22f97c79",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "f8085896-3869-4b45-81a1-fb35887c6582",
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "model": "default"
      },
      "id": "c3060c67-0183-4888-bb93-afdc90167a4b",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        100,
        0
      ],
      "credentials": {
        "cohereApi": {
          "id": "COHERE_API",
          "name": "Cohere"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "indexName": "open_house_reminder"
      },
      "id": "33aa151a-e859-41bb-beaf-9ba3d6b372f7",
      "name": "Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "indexName": "open_house_reminder"
      },
      "id": "4831a728-1c61-4914-95ea-3d50700018e2",
      "name": "Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        300,
        -180
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_API",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "name": "Supabase"
      },
      "id": "df6c51f6-7b94-444a-9501-32086e7e463c",
      "name": "Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "392846c4-b5f2-42f8-96f7-9db4226f700e",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {},
      "id": "fcd7abdb-6cb0-4ea6-a9ff-26ad5460c10f",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        -340
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}"
      },
      "id": "6b05f764-5f33-462f-be12-e3d119822653",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        760,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "SHEET_ID",
        "sheetName": "Log"
      },
      "id": "b87baeaf-550a-4ae0-88ae-4ac16afb6ba1",
      "name": "Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        -40
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_API",
          "name": "Sheets"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "ai_document": [
        []
      ]
    },
    "Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}